*{
	margin: 0;
	padding: 0;
}

@font-face {
	font-family:MD;
	src: url(../font/MD.ttf);
}
#box-video{
	width: 1422px;
	/* height: 2000px; */
	overflow: hidden;
}
.left{
	position: absolute;
	background-repeat: no-repeat;
	width: 422px;
	height: 422px;
	float: left;
	background-image: url(../images/cd_img.jpg) ;
	border-radius: 50%;
	left: 50px;
	top: 100px;
}
.yinfu{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-position: center center;
	background-repeat: no-repeat;	z-index:2 ;
	left: 161px;
	top: 161px;
	border: solid 5px white;
	background-color: #000000;
	position: absolute;
	background-image: url(../images/yinfu.gif) ;
}
.right{
	position: absolute;
	height: 450px;
	width: 800px;
	float: left;
	background-color: aquamarine;
	right: 50px;
	top: 100px;
	
}
video{
	height: 100%;
	width: 100%;
}
.right h1{
	font-size: 110px;
	color: #923804;
	font-size: 30px;
	font-family: "MD";
	text-align: center;
	
}
.right p{
	background-color: #fefbd2;
	background-image: url(../images/bg.png);
	font-size: 20px;
	line-height: 30px;
	
}
video{
	position: absolute;
	width: 100%;
	
	top: 0;
	left: 0;
	z-index: -1;
}