*{
	margin: 0;
	padding: 0;
}
ul li{
	list-style: none;
}
a:link{
	text-decoration: none;
}

a:hover{
	color: red;
}

.top{
	width: 960px;
	height: 80px;
	margin: 0 auto;
}
.top p{font-size: 8px;
	margin: 0 auto;
	float: left;
	width: 700px;
	height: 100%;
	border: solid red 2px ;
}

.page{
	background-image: url(../images/main.PNG);
	height: 602px;
	margin: 0 auto;
}

.boby{
	width: 1916px;
	margin: 0 auto;
	height: 602px;
	position: relative;
}
.login-div{
	position: absolute;
	top: 200px;
    width: 351px;
    height: 350px;
    right: 406px;
}

.login-div ul li{
	margin: 20px auto;
}

.login-div input{
	width: 250px;
	margin-top: 20px;
	margin: 0 auto;
	height: 40px;
	display: block;
	padding-left: 40px;
	box-sizing:border-box;
}

.login-div img{
	top: 3px;
    position: relative;
    left: 5px;
}

.username{
	background-image: url(../images/user.PNG);
	background-repeat: no-repeat;
}

.pass{
	background-image: url(../images/mima.PNG);
	background-repeat: no-repeat;
}


.bt{
	background-color: red;
	width: 250px;
}


.login-bottom span{
	margin: 10px;
}
.bottom{
	width: 960px;
	margin: 0 auto;
	font-size: 14px;
}


