p{
	font-size: 50px;
	/*text-transform: capitalize;*/
}.g1 {
	color: #2888ef;
}
.o1 {
	color: #c81406;
}
.o2 {
	color: #f7bb37;
}
.g2 {
	color: #3488eb;
}
.l {
	color: #59a63e;
}
.e {
	color: #cb0f06;
}
