
li {
	list-style: none;
}

nav{
	width:720px;
	margin: 0 auto;
}

nav ul{
	margin:0 auto;
	width:98%;
	padding: 0;
}

nav li{
	display: inline-block;
	color:#5e2d00;
	margin-left: 1%;
	width:23%;
	font-size:18px;
	line-height:20px;
}

a:link {
	text-decoration: none;
	color:#5e2d00;
}
a:visited {
	text-decoration: none;
}
a:hover {
	color: #ff0033;
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}

article{
	width: 720px;
	margin: 0 auto;
}


section ul{
	padding: 0;
	margin: 0 auto;
}
section  li:nth-of-type(even){
	color: #bda793;
}
section {
	display: none;
}
section li{
	margin-left: 28px;
	font-size: 19px;
	line-height: 40px;
	list-style: url("../images/11.png") outside circle; 
}

#Fireworks:target,
#Dreamweaver:target,
#Illustrator:target,
#Photoshop:target{
	display: block;
}

.c1{
	color:#ff0033
}
.c2{
	color:#5e2d00
}