*{
	margin: 0;
	padding: 0;
}
#box{
	margin: 0 auto;
	width: 1400px;
	height: 600px;
	margin-top: 50px;
	background-color: black;
	border: 3px solid black;
	padding: 10px;
	position: relative;
}
.box-left{
	width: 70%;
	float: left;
	height: 100%;
	top: 0;
	left: 0;
	/* position: absolute; */
	/* padding: 10px; */
}
.box-left video{
	width: 100%;
	height: 85%;
	background-color: #000000;
}
.box-left .controls{
	margin: 0 auto;
	height: 10%;
	background-color: white;
}


#share{
	display: none;
	width: 5%;
    height: 65%;
    position: absolute;
    top: 10%;
    left: 65%;
	/* background-color: #bae4d6; */
	text-align: center;
	font-size: 23px;
}
#share:hover{
	display: block;
}

#share img{
	width: 100%;
}

.controls ul{
	width: 100%;
	height: 100%;
}
.controls li{
	width: 10%;
	height: 100%;
	text-align: center;
	line-height: 60px;
	font-size: 20px;
	margin-left: 5%;
	display: inline-block;
	background-color: #ccc;
}


.box-right{
	float: left;
	width: 30%;
}

.box-right li{
	list-style: none;
	padding: 2%;
	height: 133px;
	width: 100%;
}
.box-right img{
	float: left;
	width: 55%;
	height: 100%;
}
.box-right p{
	margin-left: 2%;
    float: left;
    width: 43%;
	color: white;
}